@page "/TiposTecnicos/Index"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation

<PageTitle>Tipos T&eacute;cnicos</PageTitle>

<div class="container">
	<div class="card shadow-lg">
        <div class="card-header text-black text-center">
		<h5><strong>Tipos T&eacute;cnicos</strong></h5>
		</div>


	<div class="card-body">
		<div class="row mb-3">
			<div class="col-md-6">
			<label for="filtro" class="form-label"><strong>Filtrar por:</strong></label>
			<InputSelect id="filtro" class="form-select" @bind-Value="filtro">
				<option value="id">ID</option>
				<option value="Descripcion">Descripci&oacute;n </option>
			</InputSelect>
		</div>

		<div class="col-md-6 d-flex align-items-end">
			<div class="input-group">
				<InputText id="valorFiltro" @bind-Value="valorFiltro" class="form-control" placeholder="Buscar" />
				<button @onclick="Buscar" class="btn btn-secondary bi bi-search" type="button"> Buscar</button>
			</div>
		</div>
	</div>

		<a href="TiposTecnicos/Create" class="btn btn-success bi bi-plus-square-fill mt-3"> Crear</a>

	
		<table class="table table-hover">
			<thead class="table table-striped text-center text-black">
				<tr>
					<th>TipoTecnicoId</th>
					<th>Descripci&oacute;n </th>
					<th>Ver</th>
					<th>Editar</th>
					<th>Eliminar</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var TiposTecnico in tiposTecnicos)
				{
					<tr>
						<td class="text-center">@TiposTecnico.Id</td>
						<td class="text-center">@TiposTecnico.Descripcion</td>
						<td class="text-center">
							<a href="/TiposTecnicos/Details/@TiposTecnico.Id" class="btn btn-outline-dark bi bi-eye"></a>
						</td>
						<td class="text-center">
							<a href="/TiposTecnicos/Edit/@TiposTecnico.Id" class="btn btn-outline-dark bi bi-pencil-square"></a>
						</td>
						<td class="text-center">
							<a href="/TiposTecnicos/Delete/@TiposTecnico.Id" class="btn btn-outline-dark bi bi-trash"></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
</div>
	


@code {
	public List<TiposTecnicos> tiposTecnicos = new List<TiposTecnicos>();
	public string filtro = "id";
	public string valorFiltro = "";

	protected override async Task OnInitializedAsync()
	{
		tiposTecnicos = await tiposTecnicosService.Listar(a => true);
	}

	public async Task Buscar()
	{
		if (!string.IsNullOrWhiteSpace(valorFiltro))
		{
			switch (filtro)
			{
				case "id":
					if (int.TryParse(valorFiltro, out int id))
					{
						tiposTecnicos = await tiposTecnicosService.Listar(w => w.Id == id);
					}
					break;

				case "Descripcion":
					tiposTecnicos = await tiposTecnicosService.Listar(w => w.Descripcion.ToLower().Contains(valorFiltro.ToLower()));
					break;
			}
		}

	}
}

