@page "/TiposTecnicos/Index"
@rendermode InteractiveServer
@inject TiposTecnicosService tiposTecnicosService
@inject NavigationManager navigation

<PageTitle>Tipos T&eacute;cnicos</PageTitle>
<div class="container">
	<div class="card-header bg-success text-white text-center">
		<div style="display: flex; align-items: center; justify-content: center;">
			<!-- Icono izquierdo-->
			<i class="bi bi-people-fill" style="font-size: 2rem;"></i>

			<!-- Título en el centro -->
			<h3 style="margin: 0 15px;"><strong>Tipos de T&eacute;cnicos</strong></h3>

			<!-- Icono derecho -->
			<i class="bi bi-people-fill" style="font-size: 2rem;"></i>
		</div>

	</div>
	<div class="row">
		<div class="col-md-3">
			<label for="filtro" class="form-label"><strong>Filtrar por:</strong></label>
			<InputSelect id="filtro" class="form-select" @bind-Value="filtro">
				<option value="id">ID</option>
				<option value="Descripcion">Descripci&oacute;n </option>
			</InputSelect>
		</div>
		<div class="col-md-6">
			<label for="valorFiltro" class="form-label"><strong>B&uacute;squeda</strong></label>
			<div class="input-group">
				<InputText id="valorFiltro" @bind-Value="valorFiltro" class="form-control" placeholder="Buscar" />
				<button @onclick="Buscar" class="btn btn-secondary bi bi-search" type="button"> Buscar</button>
			</div>
		</div>
	</div>

	<div class="card-body">
		<table class="table table-light table-bordered">
			<thead class="table table-striped text-center bg-success text-white">
				<tr>
					<th>TipoTecnicoId</th>
					<th>Descripci&oacute;n </th>
					<th>Ver</th>
					<th>Editar</th>
					<th>Eliminar</th>

				</tr>
			</thead>
			<tbody>
				@foreach (var TiposTecnico in tiposTecnicos)
				{
					<tr>
						<td class="text-center">@TiposTecnico.Id</td>
						<td class="text-center">@TiposTecnico.Descripcion</td>
						<td class="text-center">
							<a href="/TiposTecnicos/Details/@TiposTecnico.Id" class="btn btn-secondary text-white bi bi-eye"></a>
						</td>
						<td class="text-center">
							<a href="/TiposTecnicos/Edit/@TiposTecnico.Id" class="btn btn-secondary text-white bi bi-pencil-square"></a>
						</td>
						<td class="text-center">
							<a href="/TiposTecnicos/Delete/@TiposTecnico.Id" class="btn btn-secondary bi bi-trash"></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<a href="/TiposTecnicos/Create" class="btn btn-success bi bi-plus-square-fill mt-3"> Crear</a>
	</div>
</div>

@code {
	public List<TiposTecnicos> tiposTecnicos = new List<TiposTecnicos>();
	public string filtro = "id";
	public string valorFiltro = "";

	protected override async Task OnInitializedAsync()
	{
		tiposTecnicos = await tiposTecnicosService.Listar(a => true);
	}

	public async Task Buscar()
	{
		if (!string.IsNullOrWhiteSpace(valorFiltro))
		{
			switch (filtro)
			{
				case "id":
					if (int.TryParse(valorFiltro, out int id))
					{
						tiposTecnicos = await tiposTecnicosService.Listar(w => w.Id == id);
					}
					break;

				case "Descripcion":
					tiposTecnicos = await tiposTecnicosService.Listar(w => w.Descripcion.ToLower().Contains(valorFiltro.ToLower()));
					break;
			}
		}

	}
}
