@page "/Clientes/Details/"
@page "/Clientes/Details/{ClienteId:int}"
@rendermode InteractiveServer
@inject ClientesService clientesService
@inject NavigationManager navigation


<PageTitle>Detalles del Cliente</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header text-black text-center" style="display: flex; align-items: center; justify-content: center;">
			<h4 style="margin: 0 15px;"><strong>Detalles del Cliente:</strong></h4>
		</div>
	
	@*Body*@
	<div class="card-body">
		<h5><strong>Detalles del Cliente:</strong></h5>
		@if (Cliente != null)
		{
			@*Datos*@
			<div class="mb-1">
				<p class="mb-0"><strong>Cliente Id :</strong> @Cliente.ClienteId</p>
				<div class="mb-1">
					<p class="mb-0"><strong>Nombre del Cliente:</strong> @Cliente.Nombres</p>
				</div>
				<div class="mb-1">
					<p class="mb-0"><strong>WhatsApp :</strong> @Cliente.WhatsApp</p>
				</div>
			</div>

		}
	</div>
	@*Footer*@
	<div class="card-footer">
		<a href="/Clientes/Index" class="btn btn-secondary text-white bi bi-arrow-90deg-left"> Volver</a>
	</div>
</div>
</div>


@code {

	[Parameter]

	public int ClienteId { get; set; }

	public Clientes Cliente { get; set; } = new Clientes();

	protected override async Task OnInitializedAsync()
	{
		Cliente= await clientesService.Buscar(ClienteId);
	}


}