@page "/Tecnicos/Create"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<PageTitle>Crear Nuevo Técnico</PageTitle>
<EditForm Model="tecnico" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <div class="container"></div>
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h1><strong>Crear Nuevo Técnico</strong></h1>
        </div>
        <div class="card-body">
            <label for="id" class="form-label"><strong>ID</strong></label>
            <InputNumber id="id" class="form-control" @bind-Value="tecnico.tecnicoId" readonly></InputNumber>

            <label for="nombre" class="form-label"><strong>Nombre Técnico</strong></label>
            <InputText id="nombre" class="form-control" @bind-Value="tecnico.nombreTecnico"></InputText>
            <ValidationMessage For="@(() => tecnico.nombreTecnico)"></ValidationMessage>

            <label for="sueldoHora" class="form-label"><strong>Sueldo por Hora</strong></label>
            <InputNumber id="sueldoHora" class="form-control" @bind-Value="tecnico.sueldoHora"></InputNumber>
            <ValidationMessage For="@(() => tecnico.sueldoHora)"></ValidationMessage>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-info text-white bi bi-arrow-90deg-left" @onclick="Volver"> Volver</button>
            <button type="submit" class="btn btn-success bi bi-floppy-fill">Guardar</button>
        </div>
    </div>
</EditForm>

@code {
    public Tecnicos tecnico { get; set; } = new Tecnicos();

    public async Task Crear()
    {
        // Verificar si el técnico ya existe
        if (!await tecnicoService.Existe(tecnico.tecnicoId))
        {
            // Guardar el nuevo técnico
            await tecnicoService.Insertar(tecnico);
            tecnico = new Tecnicos(); // Resetear el modelo
            navigation.NavigateTo("/Tecnicos/Index"); // Redirigir a la lista de técnicos
        }
        else
        {
            // Mensaje de error si el técnico ya existe (puedes mostrar una notificación o alerta)
        }
    }

    public void Volver()
    {
        navigation.NavigateTo("/Tecnicos/Index");
    }
}
