@page "/Tecnicos/Delete/{TecnicosId:int}"
@rendermode InteractiveServer
@inject TecnicoService tecnicoService
@inject NavigationManager navigation

<PageTitle>Eliminar Técnico</PageTitle>
<style>
	/* Aplica Times New Roman a todos los textos de la página */
	body {
		font-family: 'Times New Roman', Times, serif;
	}

	.card-header h4 {
		font-family: 'Times New Roman', Times, serif; /* Cambia la fuente del encabezado */
	}
</style>
<EditForm Model="tecnicos" OnValidSubmit="EliminarTecnico">
	<DataAnnotationsValidator />
	<div class="card-shadow-lg">
		<div class="card-header bg-success text-white text-center" style="display: flex; align-items: center; justify-content: center;">
			<i class="bi bi-trash" style="font-size: 2rem;"></i>
			<h4 style="margin: 0 15px;"><strong>Eliminar Técnico:</strong></h4>
		</div>
		<div class="card-body">
			<h5><strong>¿Seguro que deseas eliminar el Técnico Selecionado?</strong></h5>
			<div class="mb-1"></div>
			<p class="mb-0"><strong>Tecnico Id:</strong> @tecnicos.tecnicoId</p>
			<div class="mb-1">
				<p class="mb-0"><strong>Nombre Tecnico:</strong> @tecnicos.nombreTecnico</p>
				<div class="mb-1">
					<p class="mb-0"><strong>Sueldo por Hora:</strong> @tecnicos.sueldoHora</p>
					<div class="mb-1">
					</div>
				</div>

				<div class="card-footer">
					<button type="button" class="btn btn-secondary text-white bi bi-arrow-90deg-left" @onclick=Volver> Volver</button>
					<button type="button" class="btn btn-success bi bi-trash" @onclick=EliminarTecnico> Eliminar</button>
				</div>
			</div>
		</div>
	</div>
</EditForm>



@code {

	[Parameter]
	public int TecnicosId { get; set; }
	public Tecnicos tecnicos { get; set; } = new Tecnicos();

	protected override async Task OnInitializedAsync()
	{
		if (TecnicosId > 0)
		{
			tecnicos = (await tecnicoService.Buscar(TecnicosId));
		}

	}

	public async Task EliminarTecnico()
	{
		var eliminar = await tecnicoService.Eliminar(tecnicos.tecnicoId);

		if (eliminar)
		{
			Volver();
		}

	}

	public void Volver()
	{
		navigation.NavigateTo("/Tecnicos/Index");
	}



}
