<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RegistroTécnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Enlace para la lista de  Técnicos -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="Tecnicos/Index">
                <span class="bi bi-person-lines-fill fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">T&eacute;cnicos</span>
            </NavLink>
        </div>

        <!-- Enlace para la lista de Tipos Técnicos -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="TiposTecnicos/Index">
                <span class="bi bi-person-vcard fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Tipos T&eacute;cnicos</span>
            </NavLink>
        </div>

        <!-- Enlace para la lista Clientes -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="Clientes/Index">
                <span class="bi bi-file-person fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Clientes</span>
            </NavLink>
        </div>

        <!-- Enlace para la lista Trabajos -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="Trabajos/Index">
                <span class="bi bi-person-workspace fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Trabajos</span>
            </NavLink>
        </div>

        <!-- Enlace para la lista Prioridad -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="Prioridades/Index">
                <span class="bi bi-person-video3 fs-4" style="line-height: 1;"></span>
                <span class="ms-2" style="line-height: 1.2;">Prioridades</span>
            </NavLink>
        </div>


    </nav>
</div>


